<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="user-content">
  <div class="user-box">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item *ngIf="isUser" no-lines>
            <!--
                        <ion-col col-12><img alt="UserAvatar" height="42" width="42" src="{{currentUser.avatarPath}}"/></ion-col>
            -->
            <ion-avatar item-start>
              <img src="../../assets/img/avatar.png">
            </ion-avatar>
          </ion-item>

          <ion-item no-lines>
            <ion-col col-4>First name :</ion-col>
            <ion-col col-8 >{{currentUser.firstName}}</ion-col>
          </ion-item>

          <ion-item no-lines>
            <ion-col col-4>Last name :</ion-col>
            <ion-col col-8 >{{currentUser.lastName}}</ion-col>
          </ion-item>

          <ion-item no-lines>
            <ion-col col-4>Email :</ion-col>
            <ion-col col-8 >{{currentUser.email}}</ion-col>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer *ngIf="isUser">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="editUserNav()"><span>Edit</span></button>
        </ion-col>
        <ion-col>
          <button ion-button block *ngIf="isUser" (click)="deleteUser()"><span class="delete">Delete account</span></button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
