page-user {
  .user-content  {

    background: #E6E6E6;

    .user-box {
      background-color: #E6E6E6;
      height: 520px;
    }

    .user-box > ion-grid {
      background: white !important;
      height: 200000px !important;
    }
    
    .label label-md {
    }
    
    ion-row {
      align-items: center;
      text-align: center;
    }
    
    ion-item {
      padding-left: 30px !important;
      margin-bottom: 10px;
      border-bottom: 0px !important;
      box-shadow: black !important;
    }

    .action-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      box-shadow: none !important;
    }

    .link-btn {
      position: sticky;
      width: 150px;
      padding-bottom: 10px;
      background: #0000FF;
      border: 1px solid #ffffff;
    }

    .delete {
            position: sticky;
      background: #FF0000;
      padding-bottom: 10px;
      border: 1px solid #ffffff;
    }

    span {
      height: 0px;
    }
    
    ion-avatar > img {
      width: 100px;
      height: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      height: 40%;
    }

  }
  
  ion-footer {
    background: transparent !important;
  }
}
