page-user {
  .login-content {

    @keyframes animatedBackground {
      0% { background-position: 0 0; }
      50% { background-position: 100% 0; }
      100% { background-position: 0 0; }
    }

    @-webkit-keyframes animatedBackground {
      0% { background-position: 0 0; }
      50% { background-position: 100% 0; }
      100% { background-position: 0 0; }
    }

    background: url("../../assets/img/background.PNG") repeat-x 0 0;
    background-size:cover;
    -webkit-animation:animatedBackground 80s linear infinite;
    -moz-animation:animatedBackground 80s linear infinite;
    -ms-animation:animatedBackground 80s linear infinite;
    -o-animation:animatedBackground 80s linear infinite;
    animation:animatedBackground 80s linear infinite;

    .user-grid {
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    .user-row {
      align-items: center;
      text-align: center;
      border: 1px solid #ffffff;
      margin: 2px;
      border-radius: 30px !important;
    }

    ion-col {
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      box-shadow: none !important;
    }

    .link-btn {
      background: #51CFB1;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }
  }
}
