page-user {
  .user-content  {

    @keyframes animatedBackground {
      0% { background-position: 0 0; }
      50% { background-position: 100% 0; }
      100% { background-position: 0 0; }
    }

    @-webkit-keyframes animatedBackground {
      0% { background-position: 0 0; }
      50% { background-position: 100% 0; }
      100% { background-position: 0 0; }
    }

    background-size:cover;
    -webkit-animation:animatedBackground 80s linear infinite;
    -moz-animation:animatedBackground 80s linear infinite;
    -ms-animation:animatedBackground 80s linear infinite;
    -o-animation:animatedBackground 80s linear infinite;
    animation:animatedBackground 80s linear infinite;

    
    .user-box {
      background-color: #E6E6E6;
      height: 520px;
    }
    
    
    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      padding-left: 30px !important;
      margin-bottom: 10px;
      border-bottom: 0px !important;
      box-shadow: black !important;
    }

    .action-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      box-shadow: none !important;
    }

    .link-btn {
      position: sticky;
      width: 150px;
      padding-bottom: 10px;
      background: #0000FF;
      border: 1px solid #ffffff;
    }    
    
    .delete {
            position: sticky;
      background: #FF0000;      
      padding-bottom: 10px;
      border: 1px solid #ffffff;
    }
    
    span {
      height: 0px;
    }
    
    img {
    }
  }
}
