page-edit-user {
  .edit-user-content {

    @keyframes animatedBackground {
      0% { background-position: 0 0; }
      50% { background-position: 100% 0; }
      100% { background-position: 0 0; }
    }

    @-webkit-keyframes animatedBackground {
      0% { background-position: 0 0; }
      50% { background-position: 100% 0; }
      100% { background-position: 0 0; }
    }

    background: url("../../assets/img/background.PNG") repeat-x 0 0;
    background-size:cover;
    -webkit-animation:animatedBackground 80s linear infinite;
    -moz-animation:animatedBackground 80s linear infinite;
    -ms-animation:animatedBackground 80s linear infinite;
    -o-animation:animatedBackground 80s linear infinite;
    animation:animatedBackground 80s linear infinite;

    .edit-user-box {
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      background: #51CFB1;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }
  }
}
