page-friends {
  .friend-content {

    background:white;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      background-color: rgba(123, 67, 151, 0.8);
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      padding-left: 15px !important;
      margin-bottom: 10px;
    vertical-align: middle;

      border-bottom: 0px !important;
      box-shadow: black !important;
        margin: 0 0 0 0;
    }

    h2 {
      margin-bottom: 10px;
      margin-bottom: 10px;
    }

    ion-icon {
        float: right;
    }

    .information {
        margin-left: 5px;
    }


    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      box-shadow: none !important;
    }

    .submit-btn {
      border: 1px solid #ffffff;
    }

    .register-btn {
      color: #ffffff;
      font-size: 0.8em;
    }
    
    .cardHolder {
      width: auto;
      margin: none;
      padding-top: 250px;
    }
    
    ion-card {
      box-shadow: none;
      background: transparent;
    }
    
    .messageError {
      font-size: 1.1em;
      font-weight: bolder;
      text-align: center;
    }
  }
}
