page-add-friend-request {
  .add-friend-content {

    background-color: #E6E6E6;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      background-color: rgba(123, 67, 151, 0.8);
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {

      padding-left: 30px !important;
      margin-bottom: 10px;
      //border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: black !important;
    }

    .item-inner {
      border-bottom-color: #7B4397 !important;
      box-shadow: none !important;
    }

    .submit-btn {
        box-shadow: 2px 2px 2px #212121;
        margin-bottom: 1px;
        height: 50px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .register-btn {
      color: #ffffff;
      font-size: 1em;
    }

      .item {
          font-weight:700 ;
          margin-bottom: 5px;
      }

      p {
          text-align: center;
          font-weight: 900;
          font-size: 1.2em;
          color: #7B4397;
      }

      .searchRes {
          height: 270px;
          margin-bottom: 10px;
      }
    
    .add-friend-box {
      background-color: white !important;
    }
    
    .scroll-content {
      background-color: white !important;      
    }
    
    ion-toolbar {
      padding: 0px;
    }
  }
}
