<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Chat</ion-title>
  </ion-navbar>
</ion-header>

<!--[attr.ion-start]="message.htmlClass == 'isUserClass'" [attr.ion-end]="message.htmlClass == 'isNotUserClass'"-->
<ion-content class="chat-content" padding>
  <div>
    <h1 style="text-align: center;">{{pageTitle}}</h1>
    <ion-label *ngIf="!haveMessage" floating>No message</ion-label>
  </div>
  <div *ngIf="haveMessage">
    <ion-list>
      <ion-item *ngFor="let message of messageList" style="border-radius: 25px; margin-bottom: 10px; background:#E6E6E6">
        <div>
          <div item-start style="font-weight: 800; float:left;">{{message.author.first_name + " " + message.author.last_name}}</div>
          <div item-end style="font-size: 0.8em; margin-top: 10px; float:right;">{{message.createdAt}}</div>
        </div>
        <div style="margin-top: 50px;">{{message.content}}</div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input type="text" placeholder="Type your message" [(ngModel)]="messageToSend"></ion-input>
    <button ion-button clear item-end icon-only (click)="sendMessage()"><ion-icon name="send"></ion-icon></button>
  </ion-item>
</ion-footer>
